TELEGRAM_BOT_TOKEN=7756038660:AAHp4kMyvYo-vrRwe-bb3OISQOSPTOLzBzA
CRYPTOBOT_TOKEN=372690:AA3VQpwxs58qroPdydZ9kPErA2ZpwgP3OHg
OPENAI_API_KEY=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
OWNER_ID=123456789
